@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");


:root {
  --primary-color: #4318FF; /* Define the primary color variable */
  --page-bg-color: #F4F7FE;
  --login-bg-color: #E4EBFB;

}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }